.form-check-input {
	min-height: auto;
	outline: none;
	background-color: #e6e6e6;
	border: 0;
}

.form-switch .form-check-input {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");

}

.form-switch .form-check-input:checked {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");

}

.form-check-input:active {
	filter: brightness(100%);
}

.form-check-input:checked {
	background-color: #FF6600;
	border: none;
	// border-color: #0d6efd;
}

.form-check-input:focus {
	border: none;
	// border-color: inherit;
	outline: 0;
	box-shadow: none;
}

.mb-48 {
	margin-bottom: 48px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-8 {
	margin-bottom: 8px;
}

.new-auction__input {
	border: 2px solid #FF6600;
	background-color: #f3f3f3;
	outline: none;
	border-radius: 4px;
}

.new-auction__input:focus {
	border: 2px solid rgb(255 102 0/ 25%);
	outline: 0;
	background-color: #f3f3f3;
	box-shadow: 0 0 0 0.25rem rgb(255 102 0/ 25%);
}

.input__wrapper {
	max-width: 100%;
	max-height: 138px;
	padding: 12px;
}

.input__file {
	opacity: 0;
	position: absolute;
	// visibility: hidden;
}

.input__file-icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 128px;
	height: 114px;
	border-radius: 4px;
	background-color: #d9d9d9;
	cursor: pointer;
}

.svg-input-file-dims {
	color: white;
}

.price-wrapper {
	max-width: 686px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 48px;
	row-gap: 48px;
}

.form-price-control {
	position: relative;
}

.form-price-label {
	position: absolute;
	right: 2px;
	top: 2px;
	width: 68px;
	background-color: white;
	padding: 10px 16px;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
}

.step-down {
	display: none;
	grid-column: 2/span 1;
}
.day-start {
	grid-column: 1/span 1;
	grid-row: 3/ span 1;
}
.time-start {
	grid-column: 2/span 1;
	grid-row: 3/ span 1;
}
.day-end {
	grid-column: 1/span 1;
	grid-row: 4/ span 1;
}
.time-end {
	grid-column: 2/span 1;
	grid-row: 4/ span 1;
}
.date-wrapper {
	position: relative;
	padding: 12px;
}

.input__date-icon-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
}
.svg-calendar-dims {
	color: #6B6D70;
}